:root{
    --orange: #FD5545;
    --yellow: #FBB239;
    --gray: #f3f3f3;
    --font: 'Syne', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font);
}
.orange{
    color: var(--orange);
}
.yellow{
    color: var(--yellow);
}
.gray{
    color:gray;
}
.black{
    font-size:1.05em;
    font-weight: bold;
    color:black;
}
.black:hover{
    color:rgb(80, 80, 80);
}
.dark-gray{
    color:rgb(85, 85, 85);
}
.number{
    font-size:2.6em;
    margin-right:16px;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:black;
}
body{
    min-height:100vh;
}
/* CSS selectors for the header and header components. */
header{
    width:100%;
    background-color: white;
    padding-bottom:10px;
    z-index:1000000;
    top:0px;
    position:fixed;
    transition: top 0.1s ease-in-out;
}
.header-up{
    top:-60px;
}
.header-container{
    width:80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    position:relative;
}
.brand-logo-container{
    padding-top:14px;
}
.brand-logo-container > a{
    font-weight: bold;
    cursor:pointer;
    font-size:1.85em;
}
.brand-logo-container > a:hover{
    color:rgb(80, 80, 80);
}
navbar > a {
    display:inline-flex;
    padding-top:20px;
    border-top:2.5px solid rgba(255, 255, 255, 0);
    margin:0px 30px;
    font-weight: bold;
    font-size:1.0em;
}
navbar > a:hover{
    transition: 0.2s;
    color:var(--yellow);
    cursor:pointer;
}
.customer-functions-container{
    display:flex;
}
.customer-functions-container > div{
    padding-top:22px;
    margin: 0px 10px;
}
.fa-lg, .fa-xl{
    cursor:pointer;
}
.fa-lg:hover, .fa-xl:hover{
    color:rgb(80, 80, 80);
}
.shopping-cart-container{
    position:relative;
}
.is-active{
    color:var(--yellow);
}
.is-active:hover{
    color:var(--yellow);
}
.shopping-cart-alert{
    position:absolute;
    top:18px;
    left:20px;
    width:5px;
    height:5px;
    padding:3px;
    border-radius:50%;
    background-color: var(--orange);
}
.menu-bars-container{
    display:none;
}
/* CSS selectors for the hero section and hero section components. */
.hero-section{
    background-image: url(./assets/images/bg.png);
    background-size: auto;
}
.hero-section-container{
    width:80%;
    padding:30px 0px;
    margin: 0 auto;
    margin-top:60px;
}
.hero-section-body{
    display:flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
.left-container{
    padding-top:40px;
    width:50%;
    min-width:400px;
}
.left-container > h1{
    font-size: 4.80em;
    line-height: 1;
}
.left-container > h2{
    font-size:4.80em;
}
.left-container > p{
    width:85%;
    font-size:1.2em;
    margin-top:20px;
}
.button-container{
    display:flex;
}
.button-container > button{
    font-size: 1.0em;
    background-color: var(--orange);
    color:white;
    cursor: pointer;
    border:none;
    border-radius: 8px;
    width:130px;
    padding:11px;
    margin-top:35px;
}
.button-container > button > span > img{
    width:18px;
    margin-left:5px;
    margin-bottom:-4px;
}
/* CSS selectors for the widget container and widget components. */
/* .widgets-container{
    margin:70px 0px;
    width:70%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border:1px solid red;
}
.widget{
    display:flex;
    width:45%;
    border:1px solid rgb(15, 15, 15);
    background-color: rgb(15, 15, 15);
    border-radius: 6px;
    min-width:250px;
    padding:2px;
    margin:2px;
} */
/* CSS selectors for the right container and right container components. */
.right-container{
    width:50%;
    display:flex;
    justify-content: center;
    /* border:1px solid blue; */
    min-width:400px;
    margin: auto;
}

.main-image-background{
    position:relative;
    background-color: var(--gray);
    border-radius: 36px;
    max-width:775px;
    margin: 10px auto;
    min-width:400px;
    /* border:1px solid blue; */
}
.main-image-background > h1{
    font-family: var(--font);
    color:white;
    font-size: 11em;
    text-align: center;
}
.ribbon{
    display:flex;
    align-items: center;
    font: var(--font);
    color:white;
    position:absolute;
    top:0px;
    right:40px;
    width:60px;
    height:95px;
    background-color: #fd5445e5;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% calc(100% - 20px), 0% 100%, 0% 0%)
}
.ribbon > h6 {
    text-align: center;
    margin-bottom:10px;
    font-family: var(--font);
    font-size:1em;
}
.main-image-container > img{
    max-width:775px;
    width:100%;
    margin-top:-120px;
    padding-right:80px;
    /* transform: rotate(330deg); */
    /* border:1px solid red; */
}
.main-image-description {
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom:50px;
    min-width:350px;
    /* border:1px solid red; */
}
.main-image-name{
    width:65%;
    font-family: var(--font);
    display:flex;
    align-items: center;
    margin-top:-5px;
    min-width:350px;
    /* border:1px solid blue; */
   justify-content: center;

}
.main-image-name >h3{
    font-family: var(--font);
    font-size:1.35em;
    text-align:center ;
}
.stars-container{
    border-left:1px solid gray;
    margin: 0px 10px;
    padding:0px 10px;
}
/* .main-image-details{
    width:45%;
    padding:0px 20px;
    display:flex;
    justify-content: space-between;
    border:1px solid green;
    margin: 0 auto;
    font-family: var(--font);
    margin-top:10px;
    align-items: center;
}
.main-image-details > h5{
    font-size: 2.70em;
}
.main-image-details > h6{
    font-size:1.25em;
}
.main-button > button{
    font-family: var(--font);
    font-weight: bold;
    padding:8px;
    border:1px solid black;
    width:110px;
} */
.main-image-detail{
    width:70%;
    /* border:1px solid green; */
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.main-image-price{
    font-size:3em;
    /* border:1px solid red; */
}
.main-image-button{
    max-height:40px;
    padding:10px;
    font-weight: bold;
    max-width:125px;
    width:70%;
    border:1px solid black;
}
/* CSS selectors for the hero section footer and footer section components. */
.hero-section-footer{
    padding-bottom:60px;
    width:80%;
    margin: 0 auto;
}
.hero-section-footer > div {
    display:flex;
    justify-content: space-between;
    width:100%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.hero-section-footer > div > li{
    font-size:0.95em;
}
.hero-section-footer > div > li:nth-of-type(2){
    border-right:2px solid var(--yellow);
    border-left:2px solid var(--yellow);
    padding:0px 120px;
}
/* CSS selectors for the offer section and offer section components. */
.offer-section{
    background-color: var(--gray);
    padding:40px 0px;
    padding-bottom:80px;
}
.offer-section > h2{
    font-size:2.5em;
    margin-bottom:40px;
    text-align: center;
}
.offer-section-container{
    width:80%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.offer-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    background-color: white;
    max-width:235px;
    padding:12px;
    margin:10px;
    border-radius: 8px;
}
.offer-card-header{
    padding:16px 0px;
}
.icon-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--gray);
    width:130px;
    height:130px;
    border-radius:50%;
}
.icon{
    width:70%;
    overflow: hidden;
}
.offer-card-body{
    padding-bottom:20px;
}
.offer-card-title{
    color:var(--yellow);
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-bottom:10px;
}
.offer-card-body > p{
    line-height: 2;
    font-size:1.05em;
    text-align: center;
}
/* CSS selectors for the collection section and collection items. */
.collection-section{
    padding:40px 0px;
}
.collection-section > h2{
    margin-bottom:40px;
    font-size:2.5em;
    text-align: center;
}
.collection-section > nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:80%;
    margin: 0 auto;
    padding-bottom:20px;
    font-size: 1.40em;
    font-weight: bold;
}
nav > a{
    cursor: pointer;
}
nav > a:hover{
    color:var(--yellow);
    transition: 0.2s;
}
nav > a:nth-of-type(2){
    margin-left:50px;
}
.collection-container{
    display:grid;
    justify-items: center;
    width:80%;
    min-width:400px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;  
}
.item-container{
    max-width:380px;
    min-width:300px;
    margin:10px;
}
.item-card{
    background-color: rgb(246, 246, 246);
    cursor: pointer;
    position:relative;
}
.item-card-body{
    width:75%;
    margin: 0 auto;
}
.item-card-body > img {
    width:100%;
}
.item-name{
    position: relative;
    font-family: var(--font);
    font-weight: bolder;
    text-align: center;
    font-size:1.15em;
    max-width:300px;
    margin: 20px auto;
    cursor: pointer;
}
.item-price-container{
    font-family: var(--font);
    display:flex;
    justify-content: space-around;
    /* border:1px solid red; */
    width:30%;
    position:absolute;
    bottom:8.5%;
    left:35%;
}
.retail-price{
    font-size:1.55em;
    margin-right:5px;
}
.msrp-price{
    color:var(--orange);
    font-size:0.90em;
}
.pagination-container{
    display:flex;
    justify-content: space-around;
    width:200px;
    min-width:200px;
    /* border:1px solid red; */
    margin: 0 auto;
    margin-top:15px;
}
.arrow{
    width:30px;
    cursor: pointer;
}
.left{
    opacity: 0.55;
}
.arrow > img {
    width:100%;
}

/* CSS selectors for the client section and client components. */
.client-section{
    padding:40px 0px;
    padding-bottom:80px;
    background-color: var(--gray);
    background-size: 40px 40px;
    background-image: repeating-linear-gradient(45deg, #f7f7f7 0, #f7f7f7 4px, #fcfcfc 0, #fcfcfc 50%);
}
.client-section > h2{
    font-family: var(--font);
    font-size:2.5em;
    max-width: 500px;
    margin:0 auto;
    margin-bottom:40px;
    text-align: center;
}
.client-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto;
}
.client-card{
    max-width:350px;
    margin:10px;
    padding:24px;
    border:1px solid #dddddd;
    border-radius:8px;
    background-color: white;
}
.client-card-header{
    display:flex;
    align-items: center;
    margin-bottom:15px;
}
.client-picture{
    width:48px;
    height:48px;
    border:1px solid var(--gray);
    background-color: var(--gray);
    border-radius:50%;
}
.client-picture > img {
    width: 100%;
    max-height:48px;
    min-width:48px;
    border-radius:inherit;
}
.client-information{
    margin-left:8px;
}
.client-information > p:nth-child(2){
    font-size:0.90em;
}
.client-card-body{
    margin-top:-5px;
    text-align:left;
}
.client-card-body > p{
    line-height:1.75;
    color:grey;
}
.client.pagination-container{
    margin-top:40px;
    margin-bottom:-30px;
    /* border:1px solid red; */
}
/* CSS selectors for newsletter section and the newsletter components. */
.newsletter-section{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:375px;
    background-image: url("/assets/images/alp-duran-OHvzciBb7gE-unsplash.jpg");
    background-size: 100% 100%;
}
.newsletter-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    min-height:415px;
    background-color: rgba(0, 0, 0, 0.37);
}
.newsletter-container > h2{
    font-size:2.5em;
    color:white;
    text-align: center;
    margin-bottom:5px;
}
.newsletter-container > p {
    width:80%;
    max-width:800px;
    min-width:380px;
    margin: 2px auto;
    line-height: 1.5;
    font-size:1.15em;
    color:white;
    text-align: center;
}
.user-input-container{
    margin-top:20px;
    position:relative;
}
#email{
    padding:12px;
    min-width:350px;
    border-radius:6px;
    border:none;
    font-family: var(--font);
    font-size: 1.0em;
}
.user-input-container > div{
    position: absolute;
    right: 6px;
    top: 4px;
    z-index:1000;
    background-color: white;
    padding-left:6px;
}
#submit{
    width:35px;
    height:35px;
    padding:6px;
    background-color: var(--orange);
    border:none;
    border-radius:6px;
    right: 6px;
    top: 4px;
    z-index:1;
    cursor:pointer;
}
#submit > img{
    width:100%;
}
/* CSS selectors for footer section and the footer components. */
.footer-section{
    padding:40px 0px;
}
.footer-container{
    display:flex;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto;
    padding:20px 0px;
    margin-bottom:10px;
}
.footer-text-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-width:350px;
    width:50%
}
.footer-text-container > p{
    max-width:700px;
    min-width:300px;
    font-family: var(--font);
    color:#929292;
    font-weight: bold;
    line-height: 2;
    margin-top:40px;
    font-size:0.90em;
}
.footer-button-container{
    display:flex;
    margin-top:20px;
    max-width:50%;
    min-width:300px;
}
.social-icon{
    width:35px;
    height:35px;
    padding:6px;
    background-color: var(--orange);
    border-radius:4px;
    border:none;
    margin-right: 30px;
    margin-top:5px;
    cursor: pointer;
}
.social-icon > img{
    width:100%;
}
.footer-link-container{
    display:flex;
    justify-content: space-around;
    flex: 1;
    padding-top:20px;
    width:50%;
}
li{
    font-weight: bold;
    list-style-type: none;
    margin: 20px 5px;
    font-size:0.85em;
    color:#929292;
    cursor: pointer;
}
/* CSS selectors for side navigation and the navigation components. */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .side-nav-header{
        width:100%;
        display:flex;
        justify-content: flex-end;
  }
  .fa-xmark{
        font-size:1.40em;
        margin-top:16px;
        margin-right:25px;
        cursor: pointer;
  }
  .fa-xmark:hover{
        color:rgb(80, 80, 80);
  }
  .side-nav-container{
        display:flex;
        flex-direction: column;
        width:100%;
        margin: 0 auto;
  }
  .side-nav-container > a{
        font-size:1.15em;
        padding:20px 25px;
        font-weight: bold;
  }
  .side-nav-container > a:hover{
        background-color:var(--gray);
  }
  .side-nav-container > i {
        padding:25px 25px;
        margin-top:10px;
  }
  .side-nav-container > i:hover{
        background-color:var(--gray);
        cursor:pointer;
  }
/* CSS selectors for modal and the modal components. */
.modal{
    display: none; 
    position: fixed; 
    z-index: 10000000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 25%;
    max-width:400px;
    min-width:375px;
}
.modal-header{
    display:flex;
    justify-content: flex-end;
    padding-bottom:10px;
}
.modal-header > .fa-xmark{
    margin-right:-1px;
    padding-right:10px;
}
#close-modal-btn{
    font-size:1.30em;
    margin-top:-10px;
    padding-top:20px;
}
.modal-body{
    margin-top:5px;
    padding:0px 10px;
    /* border:1px solid red; */
}
.modal-body > h2{
    font-size:1.30em;
    margin:10px 0px;
}
.modal-body > p:nth-of-type(1){
    margin:25px 0px;
    width:90%;
    font-size:1.00em;
}
.modal-body > h3{
    margin:10px 0px;
}
.modal-body > p:nth-of-type(2){
    margin:5px 0px;
    margin-bottom:15px;
    font-size:0.90em;
}
.modal-input{
    padding:8px;
    width:95%;
    font-size:1.1em;
}
.checkbox-container{
    display:flex;
    margin:15px 0px;
    width:95%;
}
.checkbox{
    margin-right:5px;
}
.modal-btn-container > button{
    background-color: var(--orange);
    color:white;
    font-size: 1.25em;
    width:95%;
    border:none;
    padding:9px;
    border-radius:2px;
    margin-top:5px;
    cursor: pointer;
}
.modal-footer{
    padding-bottom:40px;
}
.modal-footer > p{
    padding-top:20px;
    width:95%;
    margin: 0 auto;
    font-size:.95em;
    /* text-align: center; */
}

/* CSS media queries for tablet landscape screens. */
@media screen and (max-width: 1024px) {
    /* CSS media queries for header and header components. */
    navbar{
        display:none;
    }
    .customer-icon-container{
        display:none;
    }
    .menu-bars-container{
        display:block;
    }
    /* CSS media queries for the left container and left container components. */
    .left-container > h1{
        font-size:3.95em;
    }
    .left-container > h2 {
        font-size:4.15em;
    }
    /* CSS media queries for the right container and rigth container components. */
    .main-image-background > h1 {
        font-size:7.25em;
    }
    .ribbon{
        display:none;
    }
    .main-image-container > img {
        margin-top:-70px;
    }
    .main-image-detail > h5 {
        font-size: 1.85em;
    }
    .main-image-details > h6{
        font-size:1.10em;
    }
    /* CSS media queries for the hero footer and hero footer components. */
    .hero-section-footer > div > li{
        margin: 10px auto;
    }
    .hero-section-footer > div > li:nth-of-type(2){
        border:none;
        padding:0px 10px;
    }
    /* CSS media queries for the collection section and collection section components. */
    nav > a:nth-of-type(2){
        margin-left:10px;
    }
    .item-container{
        width:195px;
        margin: 0 auto;
    }
    .item-card-body{
        width:100%;
    }
    .item-card-body > img{
        width:95%;
    }
    .item-name{
        font-size:0.95em;
    }

} 
/* CSS media queries for tablet portrait screens. */
@media screen and (max-width: 768px) {
    /* CSS media queries for header and header components. */
    .header-container{
        width:95%;
    }
    .brand-logo-container > a{
        font-size: 1.55em;
    }
    .customer-functions-container > div{
        padding-top:18px;
    }
    .shopping-cart-alert{
        top:14px;
    }
    /* CSS media queries for the offer section container and offer section container components. */
    .offer-section-container{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        width:400px;
    }
    .offer-card{
        width:190px;
        margin: 10px 1px auto;
    }
    .offer-card-header{
        padding:8px 0px;
    }
    .icon-container{
        width:105px;
        height:105px;
        overflow: hidden;
    }
    .icon-container > img{
        width:70%;
    }
    .offer-card-body{
        padding-bottom:5px;
    }
    .offer-card-body > p{
        font-size: 0.95em;
        line-height: 1.40;
    }
    /* CSS media queries for the right container and right container components. */
    .main-image-container > img{
        margin-top:-70px;
        min-width:400px;
        width:100%;
    }
    .main-image-name > h3{
        font-size:1.35em;
        text-align: center;
        margin-bottom:5px;
        font-family: var(--font);
    }
    .button-container > button {
        font-size:1.05em;
    }
    .main-image-container{
        margin-bottom:-20px;
    }
    .main-image-description{
        margin-bottom:40px;
    }
    .stars-container{
        padding:0px 4px;
        margin: 0px 5px;
    }
        /* CSS media queries for the collection section and collection section container components. */
    .collection-container{
        grid-template-columns: 1fr 1fr;
        width:95%;
    }
    nav > a{
        font-size:0.90em;
    }
    nav > a:nth-of-type(2){
        padding-left:30px;
    }
    nav > a:nth-of-type(3){
        padding-left:30px;
    }
    .item-container{
        min-width:225px;
    }
    .item-card-body{
        width:100%;
        padding:5px;
    }
    .retail-price{
        font-size:1.25em;
    }
    .msrp-price{
        font-size:0.80em;
    }
    /* CSS media queries for the client section and client section container components. */
    .client-card-body > p{
        line-height: 1.5em;
        font-size:0.95em;
    }
    /* CSS media queries for the newsletter section and newsletter section container components. */
    .newsletter-container > p{
        font-size:1.00em;
    }
}
@media screen and (max-width: 480px) {
    .item-container{
        min-width:190px;
    }
}

.widgets-container{
    margin:70px 0px;
    width:75%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border:1px solid red; */
}
.widget{
    display:flex;
    width:45%;
    border:1px solid rgb(15, 15, 15);
    background-color: rgb(15, 15, 15);
    border-radius: 6px;
    min-width:265px;
    padding:6px;
    margin:2px;
    
}
.widget-image-container{
    width:40%;
    margin:0px;
}
.widget-image{
    height:105px;
    width:105px;
    /* border:1px solid rgb(15, 15, 15); */
    border-radius:6px;
    background-color: white;
    margin:0px;
    display:flex;
    justify-content: center;
    overflow: hidden;
}
.widget-image > img{
    width:120%;
    height:120%;
    margin: 0 auto !important;
    /* border:1px solid red; */
}
.widget-text-container{
    width:70%;
    margin-left:20px;
    font:var(--font);
    /* border:1px solid red; */
}
.widget-name{
    font-size:0.80em;
    color:white;
}
.widget-rating{
    display:flex;
    align-items: center;
    color:gray;
    margin-top:6px;
    margin-bottom:3px;
}
.widget-rating > p:nth-of-type(1){
    font-size: .65em;
}
.widget-rating > p:nth-of-type(2){
    font-size: 0.65em;
    margin-left:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.widget-price {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:95%;
    
    /* border:1px solid red; */
}
.widget-price > p{
    font-size: 1.65em;
    color:white;
    margin-top:4px;

}
.fa-heart{
    margin-top:5px;
    color:white;
    cursor:pointer;
    padding-right:5px;
}
.widget-style{
    font-size:0.65em;
    color:white;
    margin:6px 0px;
}
.widget-add-btn{
    font-size:0.75em;
}
/* .widget-add-btn:hover{
    text-decoration: underline;
} */
.splide__pagination__page{
    background: rgb(24, 24, 24) !important;
}
.splide__pagination__page.is-active{
    background: black !important;
}
.splide__arrows{
    display:none;
}
.widgets-container{
    padding-bottom:30px;
}