*{
    margin:0;
    padding:0;
}
.red{
    color:#FD5545;
}
figure{
    padding:8px;
}
.background-image{
    position: relative;
    max-width:600px;
    border-radius:8px;
    background-color: #f3f3f3;
    margin: 0 auto;
}
.ribbon{
    text-align: center;
    font-family: 'Syne', sans-serif;
    color:white;
    font-weight: bold;
    font-size:1.10em;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 16px;
    width: 60px;
    height: 100px;
    background:#FD5545;;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% calc(100% - 20px), 0% 100%, 0% 0%)
}
.background-image > h1{
    font-family: 'Syne', sans-serif;
    color:white;
    font-size:11em;
    text-align: center;
}
.image-container > img{
    max-width:600px;
    width:95%;
    height:inherit;
    transform: rotate(345deg);
    margin-top:-80px;
}
.image-description{

}