*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    height:100vh;
}
a{
    text-decoration: none;
    color:black;
}
:root{
    --orange: #FD5545;
    --yellow: #FBB239;
    --gray: #f3f3f3;
    --font: 'Syne', sans-serif;
}
.orange{
    color:var(--orange);
}
.yellow{
    color:var(--yellow);
}
.black{
    font-size:1.05em;
    font-weight: bold;
    color:black;
}
.gray{
    color:gray;
}
.dark-gray{
    color:rgb(85, 85, 85);
}
.number{
    font-size:2.6em;
    margin-right:16px;
}
/* CSS selectors for the header and header components. */
header{
    width:100%;
    background-color: white;
    padding-bottom:10px;
    z-index:1000000;
    top:0px;
    position:fixed;
    transition: top 0.1s ease-in-out;
}
.header-up{
    top:-60px;
}
.hero-section{
    margin-top:-15px;
}
.header-container{
    width:80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    position:relative;
}
.brand-logo-container{
    padding-top:14px;
    margin-left:8px;
}
.brand-logo-container > a{
    font-weight: bold;
    cursor:pointer;
    font-size:1.85em;
}
.brand-logo-container > a:hover{
    color:rgb(80, 80, 80);
}
navbar > a {
    display:inline-flex;
    padding-top:20px;
    border-top:2.5px solid rgba(255, 255, 255, 0);
    margin:0px 30px;
    font-weight: bold;
    font-size:1.0em;
}
navbar > a:hover{
    transition: 0.2s;
    color:var(--yellow);
    cursor:pointer;
}
.customer-functions-container{
    display:flex;
}
.customer-functions-container > div{
    padding-top:22px;
    margin: 0px 10px;
}
.fa-lg, .fa-xl{
    cursor:pointer;
}
.fa-lg:hover, .fa-xl:hover{
    color:rgb(80, 80, 80);
}
.shopping-cart-container{
    position:relative;
}
.is-active{
    color:var(--yellow);
}
.is-active:hover{
    color:var(--yellow);
}
.shopping-cart-alert{
    position:absolute;
    top:18px;
    left:20px;
    width:5px;
    height:5px;
    padding:3px;
    border-radius:50%;
    background-color: var(--orange);
}
.menu-bars-container{
    display:none;
}
/* CSS selectors for side navigation and the navigation components. */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:60px;
  }
  .side-nav-header{
        /* border:1px solid red; */
        width:100%;
        display:flex;
        justify-content: flex-end;
        margin-top:-60px;
  }
  .fa-xmark{
        font-size:1.40em;
        margin-top:16px;
        margin-right:25px;
        cursor: pointer;
  }
  .fa-xmark:hover{
        color:rgb(80, 80, 80);
  }
  .side-nav-container{
        display:flex;
        flex-direction: column;
        width:100%;
        margin: 0 auto;
  }
  .side-nav-container > .fa-circle-user{
        font-size:1.75em;
  }
  .side-nav-container > a{
        font-size:1.00em;
        padding:20px 25px;
        font-weight: bold;
  }
  .side-nav-container > a:hover{
        background-color:var(--gray);
  }
  .side-nav-container > i {
        padding:25px 25px;
        margin-top:10px;
  }
  .side-nav-container > i:hover{
        background-color:var(--gray);
        cursor:pointer;
  }
/*  */
.section-container{
    width:80%;
    min-width:400px;
    padding:60px 0px;
    margin: 0 auto;
    margin-top:60px;
    /* border:1px solid red; */
    display:flex;
    flex-wrap: wrap;
}
/* CSS selectors for left container and the container components. */
.left-container{
    width:65%;
    /* border:1px solid blue; */
    display:flex;
}
 .gallery-tab{
     width:150px;
}
.gallery-tab > img{
    width:100%;
    border-radius:6px;
    cursor: pointer;
}
.main-image-display{
    max-width:625px;
    min-width:400px;
    margin: 0 auto;
}
.main-image-display > img{
    width:100%;
}

/* CSS selectors for right container and the container components. */
.right-container{
    width: 35%;
    min-width:400px;
    /* border:1px solid red; */
}
.product-name{
    font-size:1.75em;
}
.product-style{
    font-size:1.1em;
    margin-top:5px;
    margin-bottom:10px;
}
.product-price{
    font-size:1.5em;
    margin:10px 0px;
}
.size-title{
    font-size:1.1em;
}
.size-btns-container{
    padding:10px 0px;
    max-width:500px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
    /* border:1px solid red; */
}
.size-btns-container > button{
    width:90%;
    padding:14px;
    font-size:1.10em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border:1px solid #c7c7c7;
    border-radius:8px;
}
.product-description{
    max-width:500px;
    line-height: 1.5;
    font-size:1.1em;
}



  @media screen and (max-width: 1024px) {
    /* CSS media queries for header and header components. */
    navbar{
        display:none;
    }
    .customer-icon-container{
        display:none;
    }
    .menu-bars-container{
        display:block;
    }
}
@media screen and (max-width: 768px) {
    /* CSS media queries for header and header components. */
    .header-container{
        width:95%;
    }
    .brand-logo-container > a{
        font-size: 1.55em;
    }
    .customer-functions-container > div{
        padding-top:18px;
    }
    .shopping-cart-alert{
        top:14px;
    }
    .image-gallery{
        display:none;
    }
}
/* .left-container{
    width:60%;
    min-width:400px;
    display:flex;
    justify-content: space-between;
}
.right-container{
    width:40%;
}
.image-display{
    max-width:600px;
    min-width:400px;

}
.image-display > img {
    width:100%;
    border-radius:6px;
}
.image-gallery{
    max-width:150px;

}
.gallery-tab{
    width:150px;
}
.gallery-tab > img{
    width:100%;
    border-radius:6px;
}
.product-description{
    line-height: 1.5em;
    max-width:500px;
} */