.offer-section{
    background-color: #f3f3f3;
    text-align: center;
    padding:50px 0px;
}
.offer-section > h2{
    font-family: 'Syne', sans-serif;
    font-size: 2.5em;
    margin-top:-2px;
}
.yellow{
    color: #FBB239;
}
.red{
    color:#FD5545;
}
.card-container{
    width:80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    /* border:1px solid red; */
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Syne', sans-serif;
    font-style: normal;
    background-color: white;
    margin:5px;
    max-width:250px;
    border-radius:8px;
    padding:10px;
}
/* .card:hover{
    cursor: pointer;
    background-color: rgb(31, 31, 31);
} */
.card-header{
    padding:16px 0px;
}
.icon-container{
    width:140px;
    height:140px;
    border-radius: 50%;
    background-color: #f3f3f3;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.icon{
    width:80px;
}
.card-title{
    color: #FBB239;
    font-weight: bold;
    font-size:1.25em;
    margin-top:-10px;
    margin-bottom:-10px;
}
/* .card-title:hover{
    color:#FD5545;
} */
.card-body{
    padding-bottom:20px;
}
.card-body > p {
    line-height: 2;
}
/* .newsletter-section{
    background-image: url(/assets/images/skyler-h-7biITFcYG8o-unsplash.jpg);
    min-height:400px;
    background-size: 100% 100%;
} */
.collection-section > h2{
    font-family: 'Syne', sans-serif;
    font-size: 2.5em;
    margin-top:-2px;
    text-align: center;
}
.client-section{
    padding:50px 0px;
    text-align: center;
    background-color: #fcfcfc;
    background-size: 40px 40px;
    background-image: repeating-linear-gradient(45deg, #f7f7f7 0, #f7f7f7 4px, #fcfcfc 0, #fcfcfc 50%);
}
.client-section > h2{
    font-family: 'Syne', sans-serif;
    font-size: 2.5em;
    margin-top:-2px;
    max-width:500px;
    margin: 0 auto;
    text-align: center;
}
.client-container{
    width:80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:30px;
}
.client-card{
    background-color: white;
    border:1px solid #dddddd;
    border-radius:8px;
    padding:30px;
    max-width:350px;
    max-height:250px;
    margin:5px;
}
.client-card-header{
    display:flex;
    /* border:1px solid red; */
    align-items: center;
    font-family: 'Syne', sans-serif;
    margin-top:10px;
}
.user-picture{
    border-radius:50%;
    width:50px;
    height:50px;
    border:1px solid #f3f3f3;
    background-color: #f3f3f3;
}
.user-picture > img{
    width:100%;
    border-radius:inherit;
}
.user-information{
    /* border:1px solid red; */
    padding:0px;
    line-height: 0.25;
    margin-left:8px;
}
.user-information > p:nth-child(2){
    color:rgb(27, 27, 27);
    font-size:0.90em;
    margin-right:42px;
    padding-top:3px;
}
.client-card-body{
    margin-top:-10px;
    text-align: left;
    font-family: 'Syne', sans-serif;
}
.client-card-body > p {
    font-size:1.10em;
    line-height: 1.5;
    color:grey;
}
.newsletter-section{
    min-height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/alp-duran-OHvzciBb7gE-unsplash.jpg);
    background-size: 100% 100%;
}
.newsletter-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    min-height:400px;
    background-color: rgba(0, 0, 0, 0.356);
}
.newsletter-container > h2{
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 2.5em;
    margin-top:-2px;
    color:white;

}
.newsletter-container > p{
    font-family: 'Syne', sans-serif;
    text-align: center;
    max-width:800px;
    width:80%;
    min-width:380px;
    margin: 0 auto;
    line-height: 2;
    font-size:1.10em;
    color:white;
    margin-top:-10px;

}
.footer-container{
    width:80%;
    margin: 0 auto;
    /* border:1px solid red; */
    display:flex;
    flex-wrap: wrap;
    padding:30px 0px;
   
}
.footer-text-container{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width:400px;
}
.footer-text-container > p{
    min-width:400px;
    max-width:700px;
    font-family: 'Syne', sans-serif;
    color:#929292;
    font-weight: bold;
    line-height: 2;
    margin-top:40px;
}
.footer-link-container{
    width:50%;
    display:flex;
    justify-content: space-around;
    flex:1;
    padding-top:20px;
}
li{
    list-style-type: none;
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    margin:20px 0px;
    font-size:0.85em;
    color:#929292;
}
.black{
    font-size:1.25em;
    font-weight: bold;
    color:black;
}
.footer-button-container{
    display:flex;
}
.social-icon{
    padding:6px;
    width:20px;
    height:20px;
    background-color: #FD5545;  
    margin-right:30px;
    margin-top:5px;
}
.social-icon > img{
    width: 100%;
}